<html>
<head>
	<meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Header Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/comment.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/booksingle.css') }}">
  
  
  <style>

.seemorebutton{
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 50px;
  
    margin-left: 20px;
}
.searchbutton{
        background-color: transparent;
        border: none;
        padding: 0;
    }
  </style>

</head>
<body>
  <!-- Nav Bar -->
  {% if (session['username']) is defined %}
  <nav id = navMember style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
    <a class="navbar-brand" href="/">E-Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  navbar-right">
          <form class="form-inline my-2 my-lg-0 justify-content-start">
              <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
              <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
              <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
          </form>
            <li class="nav-item" >
                  <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MemberCenter'"></i>
                  <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/MyCollection'"></i>
                  <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MyBookList'" ></i>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/AboutUs">About Us </a>
                <a class="dropdown-item" href="/More_Q&A">Q&A</a>
                <a class="dropdown-item" href="/Contact">Contact</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li> 
        </ul>
  
      </div>
    </div>  
  </nav>
  {%  else  %}
  <nav id = navVistor style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
    <a class="navbar-brand" href="/">E-Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  navbar-right">
            <form class="form-inline my-2 my-lg-0 justify-content-start">
                <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
                <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
            </form>
            <li class="nav-item" >
                  <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'"></i>
                  <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/Member_login'"></i>
                  <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'" ></i>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/AboutUs">About Us </a>
                <a class="dropdown-item" href="/More_Q&A">Q&A</a>
                <a class="dropdown-item" href="/Contact">Contact</a>
              </div>
            </li> 
        </ul>
  
      </div>
    </div>  
  </nav>
  
  {%  endif  %}
  <!-- allbook50 -->
  <div class="container">
    <div class="row col-12 d-flex justify-content-center" id="book">

      <!-- <div class="row col-2" style="padding-left: 30px;">
        <div class="col-2" id="commentbox" style="margin: 0;">
          <div class="col-12 d-flex justify-content-center">
            <img src= "../img/25.jpg " width = "120px" height="160px">
          </div>
          <div class="col-12 d-flex align-items-center justify-content-center">
            <p>TITLE:<br>AUTHOR:</p>
          </div>
        </div>
      </div> -->
      
      
    </div>
    <!-- <div class="row col-3" id="commentbox" style="margin: 0;" > -->

    <!-- 這邊會顯示書的圖和基本資料 -->
     
        <!-- <div class="col-12 d-flex justify-content-center" >
          <img src="" alt="123">
         
         </div>
          
       
       
        <div class="col-12 d-flex justify-content-center align-items-center" >
         
        1111
          <br>
        2222
        </div> -->
      <!-- </div> -->
   
  </div>
  <div class=" d-flex justify-content-center" id="gopage">
    
  </div>

  <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"></script>
  <script src="{{ url_for('static', filename='js/AllBook48.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>

<!-- Bootstrap -->
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
</body>

</html>