<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Bookintro</title>
      <!-- bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- Header Icon -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/comment.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/booksingle.css') }}">
  
</head>
<body>
  <!-- Nav Bar -->
  {% if (session['username']) is defined %}
  <nav id = navMember style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
    <a class="navbar-brand" href="/">E-Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  navbar-right">
          <form class="form-inline my-2 my-lg-0 justify-content-start">
              <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
              <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
              <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
          </form>
            <li class="nav-item" >
                  <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MemberCenter'"></i>
                  <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/MyCollection'"></i>
                  <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MyBookList'" ></i>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/AboutUs">About Us </a>
                <a class="dropdown-item" href="/More_Q&A">Q&A</a>
                <a class="dropdown-item" href="/Contact">Contact</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li> 
        </ul>
  
      </div>
    </div>  
  </nav>
  {%  else  %}
  <nav id = navVistor style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
    <a class="navbar-brand" href="/">E-Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  navbar-right">
            <form class="form-inline my-2 my-lg-0 justify-content-start">
                <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
                <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
            </form>
            <li class="nav-item" >
                  <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'"></i>
                  <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/Member_login'"></i>
                  <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'" ></i>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/AboutUs">About Us </a>
                <a class="dropdown-item" href="/More_Q&A">Q&A</a>
                <a class="dropdown-item" href="/Contact">Contact</a>
              </div>
            </li> 
        </ul>
  
      </div>
    </div>  
  </nav>
  
  {%  endif  %}
  <!-- 路徑 -->
<div class = "container">
  <div class = "row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" style="color: #E98B2A">Home</a></li>
        <li class="breadcrumb-item"><a href="/AllBook?page=1" style="color: #E98B2A">All book</a></li>
       
      </ol>
    </nav>
  </div>  
</div>
  <!-- 書籍介紹 -->
  <div class="container">
    <div class="row justify-content-center">
    <!--這邊開始評論紀錄-->
      <div class="col-lg-7 col-md-12 col-sm-12">
        
          <div class="container">
            <div class="row" id="commentbox">
            <!--這邊會顯示書的圖-->
              <div class="col-lg-5 col-md-5 col-sm-8 d-flex align-items-center justify-content-center">
                <div class="row">
                  <div class="col d-flex align-items-center justify-content-center" id="picture">
                   <!-- 後端傳圖片 -->
                  </div>
                  <div class="row">
                  <!--按愛心和借書-->
                    <div class="col d-flex align-items-center justify-content-center" id="add">
                      <!-- here -->
                      <!-- <button class="collect">collect</button>
                      <button class="borrowbutton" disabled = "{{btn}}">borrow</button> -->
                    </div>
                    
                  </div>
                </div>
              </div>
            <!--這邊是書的基本資料-->
              <div class="col-lg-7 col-md-7 col-sm-9 justify-content-center">
                TITLE<br><font id="title"></font>
                <hr>
                AUTHOR<br>
                <font id="author"></font>
                <hr>
                LANGUAGE<br>
                <font id="lang"></font>
                <hr>  
              <!--這邊是書的簡介-->
                SUMMARY<br>
                <font id="summary"></font>
                <br>
              </div>
            </div>
          </div>
        
      </div>
    <!--這邊開始是右邊評論紀錄欄-->
      <div class="col-lg-4 col-md-7 col-sm-6" style="padding-left: 35px; padding-top: 20px;">
        
          <div class="container">
            <div class="row" id="commentrecordbox">
              COMMENT

              
                  <div class="col-12" id="commentrecord" style="width:390px;height:300px;overflow-x:hidden;overflow-y:auto;">
                    <!-- 評論在這 -->
                  </div>
                
            </div>
          </div>
      
      </div>
    </div>
  </div>
  
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"></script>
<script src="{{ url_for('static', filename='js/bookintro.js') }}"></script>
<script src="{{ url_for('static', filename='js/nav.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  
</body>

</html>