<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/More_Q&A.css') }}">
      <style>
    
        .searchbutton{
            background-color: transparent;
            border: none;
            padding: 0;
        }
      </style>
    </head>
<body>
  <!-- Nav Bar -->
  {% if (session['username']) is defined %}
  <nav id = navMember style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
    <a class="navbar-brand" href="/">E-Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  navbar-right">
          <form class="form-inline my-2 my-lg-0 justify-content-start">
              <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
              <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
              <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
          </form>
            <li class="nav-item" >
                  <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MemberCenter'"></i>
                  <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/MyCollection'"></i>
                  <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MyBookList'" ></i>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/AboutUs">About Us </a>
                <a class="dropdown-item" href="/More_Q&A">Q&A</a>
                <a class="dropdown-item" href="/Contact">Contact</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li> 
        </ul>
  
      </div>
    </div>  
  </nav>
  {%  else  %}
  <nav id = navVistor style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
    <a class="navbar-brand" href="/">E-Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  navbar-right">
            <form class="form-inline my-2 my-lg-0 justify-content-start">
                <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
                <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
            </form>
            <li class="nav-item" >
                  <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'"></i>
                  <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/Member_login'"></i>
                  <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'" ></i>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/AboutUs">About Us </a>
                <a class="dropdown-item" href="/More_Q&A">Q&A</a>
                <a class="dropdown-item" href="/Contact">Contact</a>
              </div>
            </li> 
        </ul>
  
      </div>
    </div>  
  </nav>
  
  {%  endif  %}
  <!-- Q&A 內容 -->
  <div class="mem_qu_container">
        <div class="left">
          <div class="left_li">
            <li><a class="qalinks" onclick="openCity(event, 'q1')" id="defaultOpen">Contact</a></li>
          </div>
        </div>
      

      
        <!-- q1 -->
        <div class="right qacontent " id="q1" >
          <div class="right1">
            <div class="right_po" >
              <div class="buy_problem_1">Central University Information Management Office</div>
            </div>
          </div>
          <hr/>
          <div class="right1">
            <div class="right_po"><a name="q1">Address: </a>	No. 300, Zhongda Road, Zhongli District, Taoyuan City	</div>
          </div>
          <div class="right1">
            <div class="right_po"><a name="q2">Phone: </a>	(03)-4227151</div>
          </div>

          <div class="right1">
            <div class="right_po"><a name="q2">Contact mailbox: </a>ckfarn@mgt.ncu.edu.tw</div>
          </div>
            <hr/>
          
        </div>
      </div>
    
     
      <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"></script>
      <script src="{{ url_for('static', filename='js/login.js') }}"></script>
      <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
      <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    
      <!-- Bootstrap -->
    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>