<head>
    <title>Graph</title>
</head>
<body style="width: 1000px;margin: auto">
    <div  id="container">
        <div id="header" style="background: burlywood;height: 50px;">
            <h2 style="font-size: 30px;  position: absolute; margin-top: 10px;margin-left: 300px;
            text-align:center;">Data Trend Chart Analysis</h2>
        </div>
        <div id="leftbar" style="width: 200px;height: 600px;background: cadetblue;float: left">
            <h2 style="margin-left: 20px">Overview of data maps</h2><br/>
            
            <ul style = "list-style-type: none; margin: 0;padding: 0;width: 200px;background-color: #f1f1f1;">
                <li style = "display: block;color: #000;padding: 8px 16px;text-decoration: none;"><a href="/analysis_count">書的被借閱數量統計</a></li>
                <li style = "display: block;color: #000;padding: 8px 16px;text-decoration: none;"><a href="/analysis_gender">男女比</a></li>
                <li style = "display: block;color: #000;padding: 8px 16px;text-decoration: none;"><a href="/analysis_languages">書籍語言統計</a></li>
                <li style = "display: block;color: #000;padding: 8px 16px;text-decoration: none;"><a href="/admin">返回admin</a></li>
            </ul>
        </div>
        <div id="chart" style="width: 800px;float: left">
           <embed type="image/svg+xml" src= {{ chart.render_data_uri()|safe }} />
        </div>
    </div>
    </body>