<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/comment.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/booksingle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/MemberCenter.css') }}">
  
  <style>
    .seemorebutton{
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background-color: #bc9b5d;
    color: white;
}
    .searchbutton{
        background-color: transparent;
        border: none;
        padding: 0;
    }
  </style>
</head>
<body>
<!-- Nav Bar -->
{% if (session['username']) is defined %}
<nav id = navMember style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
  <a class="navbar-brand" href="/">E-Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  navbar-right">
        <form class="form-inline my-2 my-lg-0 justify-content-start">
            <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
            <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
        </form>
          <li class="nav-item" >
                <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MemberCenter'"></i>
                <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/MyCollection'"></i>
                <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MyBookList'" ></i>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/AboutUs">About Us </a>
              <a class="dropdown-item" href="/More_Q&A">Q&A</a>
              <a class="dropdown-item" href="/Contact">Contact</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li> 
      </ul>

    </div>
  </div>  
</nav>
{%  else  %}
<nav id = navVistor style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
  <a class="navbar-brand" href="/">E-Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  navbar-right">
          <form class="form-inline my-2 my-lg-0 justify-content-start">
              <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
              <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
              <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
          </form>
          <li class="nav-item" >
                <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'"></i>
                <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/Member_login'"></i>
                <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'" ></i>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/AboutUs">About Us </a>
              <a class="dropdown-item" href="/More_Q&A">Q&A</a>
              <a class="dropdown-item" href="/Contact">Contact</a>
            </div>
          </li> 
      </ul>

    </div>
  </div>  
</nav>

{%  endif  %}
<!-- Slides -->
<div id="Carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
    <li data-target="#Carousel" data-slide-to="1"></li>
  </ol>
  <div class = "container">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block " src="{{ url_for('static', filename='images/ReadandShare.png') }}" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block"  src="{{ url_for('static', filename='images/transnationalebookplaform.png') }}" alt="Second slide">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#Carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#Carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Top5 -->
<br><h3 style="text-align: center;">TOP5</h3>
<div class="container">
  <div class="row col-12 d-flex justify-content-center" id="Top5book">
    
  </div>
</div><br>

<!-- 新書5 -->
<h3 style="text-align: center;">Newbook</h3>
<div class="container">
  <div class="row col-12 d-flex justify-content-center" id="newbook">
    
  </div>
</div><br>

<!-- 馬來5 -->
<h3 style="text-align: center;">Malay</h3>
<div class="container">
  <div class="row col-12 d-flex justify-content-center" id="Maybook">
    
  </div>
</div><br>

<!-- 泰文5 -->
<h3 style="text-align: center;">Thai</h3>
<div class="container">
  <div class="row col-12 d-flex justify-content-center" id="Thaibook">
    
  </div>
</div><br>

<!-- 全部書 -->
<h3 style="text-align: center;">All</h3>
<div class="container">
  <div class="row col-12 d-flex justify-content-center" id="Allbook">
    
  </div>
  <br><div class=" d-flex justify-content-center">
    <a href="/AllBook?page=1"><button class="seemorebutton">see more...</button></a>
  </div>
</div><br>



<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/nav.js') }}"></script>  
<script src="{{ url_for('static', filename='js/search.js') }}"></script>

<!-- Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>