<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MemberCenter</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Header Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/MemberCenter.css') }}">

  <style>
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .searchbutton{
        background-color: transparent;
        border: none;
        padding: 0;
    }
    .modify{
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    background-color: #bc9b5d;
    color: white;
}
  </style>
</head>
<body>
<!-- Nav Bar -->

{% if (session['username']) is defined %}
<nav id = navMember style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
  <a class="navbar-brand" href="/">E-Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  navbar-right">
        <form class="form-inline my-2 my-lg-0 justify-content-start">
            <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
            <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
        </form>
          <li class="nav-item" >
                <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MemberCenter'"></i>
                <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/MyCollection'"></i>
                <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MyBookList'" ></i>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/AboutUs">About Us </a>
              <a class="dropdown-item" href="/More_Q&A">Q&A</a>
              <a class="dropdown-item" href="/Contact">Contact</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li> 
      </ul>

    </div>
  </div>  
</nav>
{%  else  %}
<nav id = navVistor style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
  <a class="navbar-brand" href="/">E-Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  navbar-right">
          <form class="form-inline my-2 my-lg-0 justify-content-start">
              <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
              <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
              <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
          </form>
          <li class="nav-item" >
                <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'"></i>
                <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/Member_login'"></i>
                <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'" ></i>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/AboutUs">About Us </a>
              <a class="dropdown-item" href="/More_Q&A">Q&A</a>
              <a class="dropdown-item" href="/Contact">Contact</a>
            </div>
          </li> 
      </ul>

    </div>
  </div>  
</nav>

{%  endif  %}
  <!-- 路徑 -->
<div class = "container">
  <div class = "row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" style="color: #E98B2A">Home</a></li>
        <li class="breadcrumb-item"><a href="/MemberCenter" style="color: #E98B2A">Member Center</a></li>
        <li class="breadcrumb-item active" aria-current="page" style="color: #577C8A">Member Detail</li>
      </ol>
    </nav>
  </div>  
</div>

  <!-- Default dropend button -->
  <div class = "container">
    <div class = "row">
            <div class= "col-5 col-md-3 col-lg-3">
            <div class="list-group" style = "margin-bottom: 40px;">
                <button type="button" class="list-group-item list-group-item-action active">
                  Member Center
                </button>
                
                <button input type="button" onclick="self.location.href='/MemberCenter'" class="list-group-item list-group-item-action btn btn-secondary"  href="/MemberCenter">Member Detail</button>
                <button type="button" class="list-group-item list-group-item-action btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Record </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/MemberCenter_Comment">Comment Record</a>
                    <a class="dropdown-item" href="/MemberCenter_Borrowed">Borrowing Record</a>
                </div>  
            </div>
          </div>

            <div class= "col-12 col-md-8 col-lg-6">
                <div class = "wrapper">
                      <div class="container">
                        <div class="card">
                  <div class="card-body" id="memberbox" >
                    <!-- <h5 class="card-title" style="color: #577C8A">Hey,_____ 今天好嗎？</h5>
                    <br>
                    <h6 class="card-subtitle mb-2 text-muted">姓名：</h6>
                    <h6 class="card-subtitle mb-2 text-muted">生日：</h6>
                    <h6 class="card-subtitle mb-2 text-muted">性別：</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Email：</h6>
                    
                    
                   
                      <button style = "background-color: #bc9b5d;border-color: #577C8A;"><a href="#" class="card-link" style="color: white">修改會員資料</a></button> -->

                  </div>
                </div>
              </div>
              </div>
          </div>
          </div>
  </div>
      
          


   


  <!-- Bootstrap -->
  <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <script src="{{ url_for('static', filename='js/MemberCenter.js') }}"></script>
   <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
   <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</body>
</html>