<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <title></title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/More_Q&A.css') }}">
      <style>
    
        .searchbutton{
            background-color: transparent;
            border: none;
            padding: 0;
        }
      </style>
    </head>


<body>
  <!-- Nav Bar -->
  {% if (session['username']) is defined %}
  <nav id = navMember style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
    <a class="navbar-brand" href="/">E-Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  navbar-right">
          <form class="form-inline my-2 my-lg-0 justify-content-start">
              <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
              <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
              <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
          </form>
            <li class="nav-item" >
                  <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MemberCenter'"></i>
                  <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/MyCollection'"></i>
                  <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MyBookList'" ></i>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/AboutUs">About Us </a>
                <a class="dropdown-item" href="/More_Q&A">Q&A</a>
                <a class="dropdown-item" href="/Contact">Contact</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li> 
        </ul>
  
      </div>
    </div>  
  </nav>
  {%  else  %}
  <nav id = navVistor style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
    <a class="navbar-brand" href="/">E-Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav  navbar-right">
            <form class="form-inline my-2 my-lg-0 justify-content-start">
                <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
                <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
            </form>
            <li class="nav-item" >
                  <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'"></i>
                  <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/Member_login'"></i>
                  <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'" ></i>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
              </a>
              <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/AboutUs">About Us </a>
                <a class="dropdown-item" href="/More_Q&A">Q&A</a>
                <a class="dropdown-item" href="/Contact">Contact</a>
              </div>
            </li> 
        </ul>
  
      </div>
    </div>  
  </nav>
  
  {%  endif  %}
  <!-- Q&A 內容 -->
  <div class="mem_qu_container">
        <div class="left">
          <div class="left_li">
            <li><a class="qalinks" onclick="openCity(event, 'q1')" id="defaultOpen">Member related issues</a></li>
            <li><a class="qalinks" onclick="openCity(event, 'q2')">Read related questions</a></li>
            <li><a class="qalinks" onclick="openCity(event, 'q3')">Collection and book</a></li>
          </div>
        </div>
      

      
        <!-- q1 -->
        <div class="right qacontent " id="q1" >
          <div class="right1">
            <div class="right_po" >
              <div class="buy_problem">Member related issues</div>
              <div class="buy_qa">
                <li><a href="#q1">Q1.How to join as a member?</a></li>
                <li><a href="#q2">Q2. How to modify personal information and password?</a></li>
                
              </div>
            </div>
          </div>
          <hr/>
          <div class="right1">
            <div class="right_po"><a name="q1">Q1. How to join as a member?</a>	Click "Login/Register", enter your name, gender, email and set password in the registration field to complete the registration.</div>
          <hr/>
          </div>
          <div class="right1">
            <div class="right_po"><a name="q2">Q2.  How to modify personal information and password?</a>	Log in to Member>Member Enquiry Center> Modify personal information. You can modify your personal information and password in this way.</div>
            <hr/>
          
        </div>
     
        </div>
      
        <!-- q2 -->
        <div class="right qacontent " id="q2" >
          <div class="right1">
            <div class="right_po" >
              <div class="buy_problem">Read related questions</div>
              <div class="buy_qa">
                <li><a href="#q1">Q1.How can I check the books I want to check?</a></li>
                <li><a href="#q2">Q2. How to read books?</a></li>
                <li><a href="#q3">Q3.How do I return the book?</a></li>
                
              </div>
            </div>
          </div>
          <hr/>
          <div class="right1">
            <div class="right_po"><a name="q1">Q1. How can I check the books I want to check?</a>	If you know the name of the book you want to read, you can directly enter the name of the book in the search box above to find the relevant information. In addition, you can also browse the book categories on the left and click on the book cover to get the book information on the inner page. </div>
          </div>
          <hr/>
          <div class="right1">
            <div class="right_po"><a name="q2">Q2.  How to read books?</a>	      After logging in as a member, click the book cover to enter the book content page, and click "I want to read" to read the book. If you do not have a membership, please "register" as a member first.</div>
           
            </div>

            <hr/>
          <div class="right1">
            <div class="right_po"><a name="q3">Q3. How do I return the book?</a>		The system presets that the books you borrow will be returned automatically within 14 days. You can also click "I want to return the books" to return the books yourself.    </div>
        
          
        </div>
        <hr/>
        </div>

    
        <!-- q3 -->
        <div class="right qacontent " id="q3" >
          <div class="right1">
            <div class="right_po" >
              <div class="buy_problem">Collection and book</div>
              <div class="buy_qa">
                <li><a href="#q1">Q1.What is "My Collection"?</a></li>
                <li><a href="#q2">Q2.What is "My Book"?</a></li>
               
              </div>
            </div>
          </div>
          <hr/>
          <div class="right1">
            <div class="right_po"><a name="q1">Q1.What is "My Collection"?</a>       In the process of browsing the books, you can click on the "Love" pattern to temporarily save the books you choose to the collection area, and you can browse or organize them in the future.  </div>
          
          </div>
          <hr/>
          <div class="right1">
            <div class="right_po"><a name="q2">Q2. What is "My Book"?</a>	       Here you can view the books you have borrowed and the book limit available for borrowing. The limit of books that can be borrowed is 5 books.


            </div>
          
          </div>
        <hr/>
        </div>
      </div>
      
     
      <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"></script>
  <script src="{{ url_for('static', filename='js/More_Q&A.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>

      <!-- Bootstrap -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
     
</body>
</html>