{% extends 'admin/base.html' %}

{% block access_control %}
{% if current_user.is_authenticated %}
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle"  href="{{ url_for('analysis_count') }}">
        <i class="icon-picture"></i> Graph
    </a>
    <a class="btn dropdown-toggle"  href="{{ url_for('admin.logout_view') }}">
        <i class="icon-user"></i> logout
    </a>
    
    
</div>
{% endif %}
{% endblock %}