<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Register</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" href="third\bootstrap\css\bootstrap.css"> -->
	<!-- <script src="third\bootstrap\js\bootstrap.js"></script> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <style>
    /* body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    } */
    .searchbutton{
        background-color: transparent;
        border: none;
        padding: 0;
    }
  </style>
</head>
<body>
 <!-- Nav Bar -->
 {% if (session['username']) is defined %}
 <nav id = navMember style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
   <a class="navbar-brand" href="/">E-Book</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
       <ul class="navbar-nav  navbar-right">
         <form class="form-inline my-2 my-lg-0 justify-content-start">
             <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
             <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
             <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
         </form>
           <li class="nav-item" >
                 <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MemberCenter'"></i>
                 <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/MyCollection'"></i>
                 <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MyBookList'" ></i>
           </li>
           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               More
             </a>
             <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="/AboutUs">About Us </a>
               <a class="dropdown-item" href="/More_Q&A">Q&A</a>
               <a class="dropdown-item" href="/Contact">Contact</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="/logout">Logout</a>
             </div>
           </li> 
       </ul>
 
     </div>
   </div>  
 </nav>
 {%  else  %}
 <nav id = navVistor style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
   <a class="navbar-brand" href="/">E-Book</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
       <ul class="navbar-nav  navbar-right">
           <form class="form-inline my-2 my-lg-0 justify-content-start">
               <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
               <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
               <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
           </form>
           <li class="nav-item" >
                 <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'"></i>
                 <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/Member_login'"></i>
                 <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'" ></i>
           </li>
           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               More
             </a>
             <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="/AboutUs">About Us </a>
               <a class="dropdown-item" href="/More_Q&A">Q&A</a>
               <a class="dropdown-item" href="/Contact">Contact</a>
             </div>
           </li> 
       </ul>
 
     </div>
   </div>  
 </nav>
 
 {%  endif  %}

  <!-- comment -->
  
    <div class="container">
      <div class="row">

      <!--這邊是register框-->
        <div class="col-7 justify-content-center" id="loginbox">
          <h5>REGISTER</h5>
          <br>
            <form name="form"> 
              <p >NAME:<input type="text" name="username" ></p>
              <p id="testName" id="test1" ></p>
             
              <p>E-MAIL ACCOUNT:<input type=text name="email"></p>
              <p id="testEmail" class="infoAccount"></p>

              <p>GENDER:
              <input type="radio" name="gender" value="male">Male
              <input type="radio"  name="gender" value="female">Female
              </p>
              <p id="testGender"></p>

              <p>BIRTH:
                <select id="ddl_year" name="ddl_year" >
                  <option  value="0">year</option>
                </select>
                <select id="ddl_month" name="ddl_month" >
                  <option value="0">month</option>
                </select>
                <select id="ddl_day" name="ddl_day" >
                  <option value="0">day</option>
                </select>
              </p>
              <p id="testBirth"></p>
              

              <p>PASSWORD:<input type=password name="pwd"></p>
              <p id="testPassword"></p>

              <p>VERIFY PASSWORD :<input type=password name="confirm"></p>
              <p id="testRepassword"></p>

              <input type="button" value="submit" onclick="ShowMeDate()">
              <a href="/Member_login"><input type="button" value="login"></a>
            </form>
        
        </div>
        
            
      </div>
    </div>
    
  <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/join.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</body>

</html>