<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Header Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/MemberCenter.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/comment.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/booksingle.css') }}">


  <style>
    
    .searchbutton{
        background-color: transparent;
        border: none;
        padding: 0;
    }
  </style>
</head>
<body>
<!-- Nav Bar -->
{% if (session['username']) is defined %}
<nav id = navMember style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
  <a class="navbar-brand" href="/">E-Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  navbar-right">
        <form class="form-inline my-2 my-lg-0 justify-content-start">
            <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
            <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
        </form>
          <li class="nav-item" >
                <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MemberCenter'"></i>
                <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/MyCollection'"></i>
                <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/MyBookList'" ></i>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/AboutUs">About Us </a>
              <a class="dropdown-item" href="/More_Q&A">Q&A</a>
              <a class="dropdown-item" href="/Contact">Contact</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li> 
      </ul>

    </div>
  </div>  
</nav>
{%  else  %}
<nav id = navVistor style = "display: block" class="navbar navbar-expand-lg navbar-light bg-light text-white">
  <a class="navbar-brand" href="/">E-Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  navbar-right">
          <form class="form-inline my-2 my-lg-0 justify-content-start">
              <input class="form-control mr-sm-2 text-black" type="search" id = "search" placeholder="Search" aria-label="Search"/>
              <!--舊的BUTTON<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
              <button class="searchbutton btn my-2 my-sm-0 text-secondary"  type="button" onclick=processFormData()><i class="fa fa-search" ></i></button>
          </form>
          <li class="nav-item" >
                <i class="fa fa-user fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'"></i>
                <i class="fa fa-heart fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;"aria-hidden="true" onclick="location.href='/Member_login'"></i>
                <i class="fa fa-book fa-lg" style="color:#bc9b5d; margin-top: 12px;margin-left: 10px;" aria-hidden="true" onclick="location.href='/Member_login'" ></i>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/AboutUs">About Us </a>
              <a class="dropdown-item" href="/More_Q&A">Q&A</a>
              <a class="dropdown-item" href="/Contact">Contact</a>
            </div>
          </li> 
      </ul>

    </div>
  </div>  
</nav>

{%  endif  %}

  <!-- 搜尋結果 -->
  <div class = "container">
    <div class="row col-8" style="margin-left: 40px;" id="nameElement">
      
    </div>
    <div class = "row col-12 d-flex justify-content-center" id="searchresult">
      
      <!-- <div class="col-lg-2 col-md-4 col-sm-6" id="commentbox" style="margin-left: 40px;">
        <div class="col-12 d-flex justify-content-center">
          <img src= " " width="120px" height="160px">
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <button class="Detail" id="" data-toggle="modal" data-target="#myModal" onclick="writecomment(this)">detail</button>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center"><p>TITLE:<br>AUTHOR：<br>Language：<br>
          
        </div>        
      </div>       -->
      
      
    </div>

  </div>
      
          


  <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"></script>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>
  <script src="{{ url_for('static', filename='js/showsearch.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nav.js') }}"></script>



  <!-- Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
</body>
</html>