#commentbox {
  background-color: rgba(242, 242, 242, 1);
  border-radius: 15px;
  width: 660px;
  padding: 10px;
}

#commenttextarea {
  margin: 0;
  display: inline-block;
  border: 1px solid rgba(188, 155, 93, 1);
  border-radius: 4px;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
}

input[type=text],
select {
  margin: 0;
  display: inline-block;
  border: 1px solid rgba(188, 155, 93, 1);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 360px;
  background-color: rgba(188, 155, 93, 1);
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgba(204, 153, 102, 1);
}

.row>div>span {
  display: block;
  border: 1px solid rgba(188, 155, 93, 1);
}

.row {
  padding: 0;
}