

  .required {  /* Marker for required fields */
    color: red;
 }
  
 .errorMsg {  /* for error messages */
    color: red;
 }
  
 .errorBox {  /* for the error input text fields */
    border: 2px solid red;
 }
  
 table {
    border: 0;
 }
  
 td {
    margin: 0;
    padding: 3px 10px;
 }