#loginbox{
    background-color: rgba(242,242,242,1);
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    float: none;
	text-align: right;
	
}


select{

	width: 16%;
	margin:  0;
	display: inline-block;
	border:1px solid rgba(188,155,93,1);
	border-radius: 4px;
	box-sizing: border-box;
}


input[type=text]{
	width: 50%;
	margin:  0;
	display: inline-block;
	border:1px solid rgba(188,155,93,1);
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=password]{
	width: 50%;
	margin:  0;
	display: inline-block;
	border:1px solid rgba(188,155,93,1);
	border-radius: 4px;
	box-sizing: border-box;
	
	

}

input[type=submit]:hover{
	background-color: rgba(204, 153, 102,1);
}
input[type=button]{
	width: 30%;
	background-color: rgba(188,155,93,1);
	color: white;
	margin: 8px 0;
	border:none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=button]:hover{
	background-color: rgba(204, 153, 102,1);
}
.row > div > span{
	display:block;
	border:1px solid rgba(188,155,93,1);
}
.row{
	padding: 0;
}